<md-card ng-hide="signupVisible" flex-gt-sm="50" flex-offset-gt-sm="25">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Signin</span>
      <span class="md-subhead">Medium</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-md card-media">
        <img src="images/blockchain.info-logo.jpg" alt="" />
      </div>
    </md-card-title-media>
  </md-card-title>
  <form name="signinForm">
    <md-card-content flex-gt-sm="80" flex-offset-gt-sm="10">
      <md-input-container class="md-icon-float md-block">
        <md-input-container class="md-block">
          <!-- Use floating placeholder instead of label -->
          <md-icon md-svg-src="icons/ic_account_circle_black_24px.svg" class="suername"></md-icon>
          <input ng-model="user.username" type="text" placeholder="Username (required)" ng-required="true" style="    color: black;">
        </md-input-container>
        <md-input-container class="md-block">
          <!-- Use floating placeholder instead of label -->
          <md-icon md-svg-src="icons/ic_fingerprint_black_24px.svg" class="password"></md-icon>
          <input ng-model="user.password" type="password" placeholder="Password (required)" ng-required="true" style="    color: black;">
        </md-input-container>
      </md-input-container>
    </md-card-content>
  </form>
  <md-card-actions layout="row" layout-align-gt-sm="end center">
    <md-button class="md-button md-ink-ripple" type="button" aria-label="Reset login form"><span class="ng-binding ng-scope">Reset</span><div class="md-ripple-container"></div></md-button>
    <md-button ng-disabled="signinForm.$invalid" ng-click="signin(user)" class="md-raised md-primary md-button md-ink-ripple" type="button" aria-label="Send login form"><span class="ng-scope">Login</span><div class="md-ripple-container"></div></md-button>
  </md-card-actions>
</md-card>
