<md-fab-speed-dial ng-show="speedDial.show" md-direction="up" md-open="isOpen" class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': hover }" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab">
      <md-icon md-svg-src="icons/ic_menu_white_24px.svg" aria-label="menu"></md-icon>
    </md-button>
  </md-fab-trigger>

  <md-fab-actions ng-show="speedDial.actions">
    <div ng-repeat="action in speedDial.actions">
      <md-button ng-click="actionClick(action)" aria-label="{{action.name}}" class="md-fab md-raised md-mini" ng-click="openDialog($event, item)">
        <md-tooltip  md-direction="{{action.direction}}" md-visible="tooltipVisible" md-autohide="false">
          {{action.name}}
        </md-tooltip>
        <md-icon md-svg-src="{{action.icon}}" aria-label="{{action.name}}"></md-icon>
      </md-button>
    </div>
  </md-fab-actions>
</md-fab-speed-dial>
{{speedDial}}
