<style type="text/css" id="less:JylbLSEvrIVQEgfA-app-content-app">/* GENERAL STYLES AND CLASSES
  --------------------------------------------------------------------- */

  /* HEADER STYLES
  --------------------------------------------------------------------- */
  /* MAIN STYLES
  --------------------------------------------------------------------- */
  #widgetWelcome.ng-enter {
    transition:0.5s linear all;
    opacity:0;
  }
  #widgetWelcome.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
  }
  /*
  #widgetWelcome.ng-leave {
    transition:0.5s linear all;
    opacity:1;
  }
  #widgetWelcome.ng-leave.ng-leave-active {
    opacity:0;
  }*/

</style>
<!--
<md-button ui-sref="welcome" aria-label="welcome">
<md-icon>welcome</md-icon>
<md-tooltip md-direction="right" md-delay="500">welcome</md-tooltip>
</md-button>
<md-button ui-sref="welcome.signin" aria-label="signin">
<md-icon>signin</md-icon>
<md-tooltip md-direction="right" md-delay="500">signin</md-tooltip>
</md-button>
<md-button ui-sref="welcome.signup" aria-label="signup">
<md-icon md-svg-src="img/icons/twitter.svg">signup</md-icon>
<md-tooltip md-direction="right" md-delay="500">signup</md-tooltip>
</md-button>
-->

<div layout="column" layout-align="center center" style="height:inherit;overflow-y: hidden;">
  <main id="widgetWelcome" ui-view  style="width:35%">
  </main>

  <md-fab-speed-dial ng-hide="hidden" md-direction="up" md-open="isOpen" class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': hover }" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">

        <md-icon md-svg-src="images/ic_power_settings_new_black_24px.svg" aria-label="menu"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions>
      <div ng-repeat="item in items">
        <md-button ui-sref={{item.sref}} aria-label="{{item.name}}" class="md-fab md-raised md-mini" ng-click="openDialog($event, item)">
          <md-tooltip  md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
            {{item.name}}
          </md-tooltip>
          <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
        </md-button>
      </div>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>
